* {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  border-bottom: 10px solid yellow;
  color: white;
  background-color: black;
  padding-top: 30px;
  align-items: baseline;
}

.song-row__item {
  width: 25%
}

.song-row__button {
  width: 10%;
}

.song-row__ratingitem {
  width: 15%
}

.songlist-row__item {
  width: 25%;
  background-color: lightgrey
}

.songlist-row__button {
  width: 10%;
  background-color: lightgrey;
}

.songlist-row__ratingitem {
  width: 15%;
  background-color: lightgrey;
}

.navItem {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.song-table {
  width: 100%;
  background-color: dimgray;
}

.song-overview {
  background-color: dimgray;
  border-bottom: 10px solid yellow;
}

.song-header {
  background-color: dimgray;
}

.songlist-table {
  width: 100%;
  background-color: black;
}

.songlist-overview {
  background-color: lightgrey;
}

.songlist-header {
  background-color: lightgrey;
}

.songlist-header:hover > th {
  background-color: gold;
}
.navItem:hover {
  color: yellow;
}

.pageTitle {
  font-size: 32px;
}

.about-title {
  text-align: center;
  padding: 50px;
}

.about-video {
  padding: auto;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: black;
  color: yellow;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  background-color: dimgray;
  border-bottom: 10px solid yellow;
}

#title {
  width: 20%;
  background-color: palegoldenrod;
}

#artist{
  width: 20%;
  background-color: palegoldenrod;
}

#genre{
  width: 10%;
  background-color: palegoldenrod;
}

#rating {
  width: 5%;
  background-color: palegoldenrod;
}