* {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-around;
  height: 70px;
  border-bottom: 10px dashed gold;
  color: rgb(95, 168, 236);
  background-color: rgb(20, 40, 150);
  padding-top: 30px;
  align-items: baseline;
}

.navItem {
  font-size: 20px;
  color: rgb(12,131,241);
  text-decoration: none;
}

.navItem:hover {
  color: yellow;
}

.song-row__item {
  width: 25%
}

.song-row__button {
  width: 10%;
}

.song-row__ratingitem {
  width: 15%
}

.songlist-row__item {
  width: 25%;
  background-color: rgb(182, 223, 241);
}

.songlist-row__button {
  width: 10%;
  background-color: rgb(182, 223, 241);
}

.songlist-row__ratingitem {
  width: 15%;
  background-color: rgb(182, 223, 241);
}

.song-table {
  width: 100%;
  background-color: rgb(20, 40, 150);
}

.song-overview {
  background-color: rgb(20, 40, 150);
  border-bottom: 10px solid gold;
}

.song-header {
  background-color: rgb(20, 40, 150);
  color: rgb(95, 168, 236)
}

.songlist-table {
  width: 100%;
  background-color: rgb(20, 40, 150);
}

.songlist-overview {
  background-color: lightgrey;
}

.songlist-header {
  background-color: lightgrey;
}

.songlist-header:hover > th {
  background-color: gold;
}

.pageTitle {
  font-size: 32px;
}

.about-title {
  text-align: center;
  padding: 50px;
  background-color: rgb(182, 223, 241);
  color:rgb(20, 40, 150)
}

.about-container {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background-color: rgb(182, 223, 241);
  
}

.article {
  height: 450px;
  width: 500px;
  display: block;
  margin: 40px 40px 0px 40px;
  padding: 40px;
  background-color: rgb(182, 223, 241);
  box-shadow: 5px 5px 15px 2px gray;
  border-radius: 40px;
}

.img-testimonial {
  width: 250px;
  border-width: 7px;
  border-style: solid;
  border-color: white;
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 50px; 
  }

.btn {
  background-color: rgb(12,131,241);
  color: gold;
  padding: 5px;
  border-radius: 10px
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  background-color: rgb(20, 40, 150);
  border-bottom: 10px solid gold;
  color: rgb(12,131,241)
}

#title {
  width: 20%;
  background-color: rgb(182, 223, 241);
}

#artist{
  width: 20%;
  background-color: rgb(182, 223, 241);
}

#genre{
  width: 10%;
  background-color:rgb(182, 223, 241);
}

#rating {
  width: 5%;
  background-color: rgb(182, 223, 241);
}